---
title: About Us
---
<div id="about-page">
    <div id="about-header" class="row">
        <div class="col">
            <h3>About Us</h3>
        </div>
    </div>
    <div id="about-desc" class="container">
        <p>A journey of VIBGYOR began with a group of nature entusiasts coming together for their love of nature turning into a proactive group carrying out various activities to promote environment friendly practices. Gradually this group increased its number and spectrum as well; today the wide spectrum of VIBGYOR includes various activities like summer camp, VIBGYOR library, blood donation camp, etc. Our summer camp is one of its kind; it challenges creativity, intelligence, and other life skills not just of the participants but the volunteers as well.</p>
        <p>Apart from summer camp, since 2008, we have been carrying out various nature related activities, clothes donation camp for the well-known organization GOONJ as a part of our social duty and we also have a library with a wide variety of books in English and Marathi.</p>
        <p>People from different walks of life volunteer at VIBGYOR. Volunteers are the piller of strength of VIBGYOR with their strength and support we plan to expand our horizon and bring out more colorful and enriching activities in the future.</p>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".navbar-nav .nav-link").removeClass("active"); 
        $('.navbar-nav #aboutus.nav-link').addClass('active');
    });
</script>