---
title: Events
---
<div id="e-page" class="">
    <div id="e-header" class="row">
        <div class="col">
            <h3>Events</h3>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".navbar-nav .nav-link").removeClass("active");
        $('.navbar-nav #events.nav-link').addClass('active');
    });
</script>