---
title: VIBGYOR - A wide spectrum
---

<div class="image-container">
	<%= image_tag '/images/gallery/45786279_2194911063886319_913048878205370368_n.jpg', :class => "image-bg" %>
	<div class="image-overlay">
			<%= image_tag "/images/example.png", :id => "desktop" %>
	</div>
</div>
<div id="intro">
	<h4>Who are we?</h4>
	<p>The journey of VIBGYOR began with a group of nature enthusiasts comming together for their love of nature turning into a proactive group carring out various activities to promote environment friendly practices. Gradually this group increased its number and spectrum as well; today the wide spectrun of VIBGYOR includes various activities like summercamp, VIBGYOR library, clothes donation camp etc.</p>
</div>
<div id="activities">
	<h4>What do we do?</h4>
	<div class="row">
		<div class="xs-col-6 sm-col-6 md-col-3 lg-col-3">
			<img src="https://openclipart.org/download/302380/1527102145.svg" alt="summer camp">
			<h6>Summer Camp</h6>
		</div>
		<div class="xs-col-6 sm-col-6 md-col-3 lg-col-3">
			<img src="https://openclipart.org/download/296597/StackOfBooks.svg" alt="library">
			<h6>Library</h6>
		</div>
		<div class="xs-col-6 sm-col-6 md-col-3 lg-col-3">
			<img src="https://openclipart.org/download/176618/Chemise.svg" alt="clothes donantion">
			<h6>Cloths Donation</h6>
		</div>
		<div class="xs-col-6 sm-col-6 md-col-3 lg-col-3">
			<img src="https://openclipart.org/download/154351/blood-clipart.svg" alt="blood donation">
			<h6>Blood Donation</h6>
		</div>
	</div>
</div>
<div id="flagship-events">
	<h4>Flagship Events</h4>
	<div class="row">
		
	</div>
</div>
<script>
$(document).ready(function () {
  $(".navbar-nav .nav-link").removeClass("active"); 
  $('.navbar-nav #home.nav-link').addClass('active');
});
</script>
