---
title: Testimonials
---
<div id="t-page" class="">
    <div id="t-header" class="row">
        <div class="col">
            <h3>Testimonials</h3>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".navbar-nav .nav-link").removeClass("active");
        $('.navbar-nav #testimonials.nav-link').addClass('active');
    });
</script>